<%- include("partials/header") %>

<div class="main-contain">

<%- include("partials/nav-bar") %>

  <div class="main">


    <div class="columns is-centered is-align-items-center" style="background-color:black;">

    <div class="column is-4">
    <div class="columns is-centered">

      <article class="message is-warning is-small">
        <div class="message-header">
          <p>29-Oct-2022</p>
        </div>
        <div class="message-body">
          Happy Birthday Carter! <br>
          Our amazing son turns 4 years old today!<br>
          ...three more months until our wedding!
        </div>
      </article>
    </div>
    <div class="columns is-centered">
      <article class="message is-warning is-small">
        <div class="message-header">
          <p>1-May-2022</p>
        </div>
        <div class="message-body">
          Welcome! Thank you for checking out our website! Sign up for the newsletter to stay up to date on all of our wedding plans.
        </div>
      </article>
    </div>

    <div class="columns is-centered">
      <article class="message is-warning is-small">
        <div class="message-header">
          <p>25-May-2022</p>
        </div>
        <div class="message-body">
          We chose a venue! We are so excited!
          We can't wait for you to join us at <em>Someplace Farms</em> <br>
          Additional information can be found under <u>Guest Info</u>.
        </div>
      </article>


    </div>
    </div>

    <div class="column is-4">

      <article class="message is-dark">
    <div class="message-body">
    <h1>Stay in The Know!</h1>
    <h2>Join The Diaz Wedding Newsletter</h2>
    <input class="input is-primary" type="text" name="fName" placeholder="first name">
    <input class="input is-primary" type="text" name="lName" placeholder="last name">
    <input class="input is-primary" type="email" name="email" placeholder="email address">
    <button class="button is-black" type="submit" name="newsletter-button">Join</button>
    </div>
    </article>

    </div>


    </div>

  </div>

</div>

<%- include("partials/footer") %>
